.Projects {
    padding: 2em;
}

.ProjectsHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.ProjectsHead a {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    max-height: 40px;
}

.ProjectsHead a:hover {
    color: #ffbb33;
}
