header {
    display: flex;
    background-color: #222;
    justify-content: space-between;
    padding: 1em;
}

.NavList {
    display: flex;
    align-items: center;
}

.NavList a {
    color: #fff;
    text-decoration: none;
    margin-right: 1em;
}

.NavList a:hover {
    color: #ffbb33;
    text-decoration: none;
}
