.Select {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.Select label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.Select select {
    padding: .7em;
    border-radius: 0;
    border: none;
}
